@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100%;
}
code {
  padding:4px;
  border-radius: 4px;
  background-color: #eee;
}
caption{
  display: block;
}
.control-form{
  margin: 16px !important;;
  padding:16px !important;
  background: #eee;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

